@charset "utf-8";

body {
	background: #ffffff;
}
main {
	padding: 40px;
}

table {
	border-collapse: collapse;
}
td, th {
	padding: 8px 20px;
	border: 1px solid #b7b7b7;
}
td:nth-child(4), td:nth-child(6) {
	text-align: right;
}
th {
	background-color: #2c8daa;
	color: #fff;
}
tr:hover {
	cursor: default;
	background: #ecfafc;
}

#login_form {
	margin: 3em auto;
	border: 3px solid #4267ab;
	width: 320px;
	border-radius: 8px;
}
.login_title {
	margin: 0;
	padding: 8px 0;
	font-size: 1em;
	text-align: center;
	background: #4267ab;
	color: #fff;
}
.login_line {
	text-align: center;
}
input[type="submit"] {
	padding: 6px 20px;
	border: 4px solid #4267ab;
	border-radius: 10px;
	background: #2c8daa;
	font-size: 16px;
	color: #ffffff;
}
input[type="submit"]:hover {
	background: #4267ab;
}
